/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
font-family: 'Comfortaa', cursive;
 } 
nav ul a,
nav .brand-logo {
  color: #444;
}

ul {list-style-type: disc;}
  
nav ul a,
nav .brand-logo {
  font-family: 'Comfortaa', cursive;
}

.nav-wrapper {
  padding: 0 70px;
 }



p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 800 px;
  line-height:4 px;
  height: 400 px;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 40%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
  
}
.icon-block .material-icons {
  font-size: inherit;
  
}

footer.page-footer {
  margin: 0;
  background-color: #a1887f;
}
